*{
margin:0%; 
padding :0%;
box-sizing: border-box;
}

html, body{
height: 100%;
width: 100%;
}

#main{
  height: 100%;
  width: 100%;

  .card{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  height: 300px;
   width:230px;
   border:1px solid salmon;
   border-radius:20px;
   overflow: hidden;
}

#card1{
  
  background-color: salmon;
  z-index: 8;
}

#card2{
  z-index:7;
  rotate:-7deg ;
  background-color: blue;
}

#card3{
  z-index: 6;
   rotate:-14deg ;
  background-color: green;
}

#card4{
  z-index: 5;
   rotate:-21deg;
  background-color: yellow;
}
#card5{
  z-index: 4;
   rotate:-28deg;
  background-color: yellow;
}

#card6{
  z-index: 3;
   rotate:-35deg;
  background-color: yellow;
}




#card2:hover{
  z-index:10;
}

#card3:hover{
  z-index:10;
}

#card4:hover{
  z-index:10;
}

#card5:hover{
  z-index:10;
}

#card6:hover{
  z-index:10;
}



img{
  height:100%;
  width:100%;
  object-fit: cover;
}